
            h1{
                color:blue;
                text-align:center;
            }
            p{
                color:magenta;
                font-size:18px;
                font-family:Arial,Serif;
            }
        